# Entornos Virtuales
env/
venv/
.venv/
ENV/

# Archivos de Configuración Sensible (Contraseñas)
.env

# Archivos Temporales de Polars y ETL
temp_processing/
ESTRUCTURA_PROYECTO.txt
estado_etl.json

# Cache de Python
**/__pycache__/
*.py[cod]

# Logs y Reportes
logs/
*.csv
*.xlsx
*.docx
*.utf8_clean.csv